[Unit]
Description=Google Assistant
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /home/[SMARTDISPLAYPI_USER_PLACEHOLDER]/SmartDisplayPi/assets/gassist/start_assistant.sh
Restart=on-abort
User=[SMARTDISPLAYPI_USER_PLACEHOLDER]
Group=[SMARTDISPLAYPI_USER_PLACEHOLDER]

[Install]
WantedBy=multi-user.target